@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,300;1,400;1,500;1,700&display=swap');
.featured{
    height: 90vh;
    position: relative;
        img{ 
            position: absolute;
            width: 100%;
            object-fit:cover;
            opacity: 0.3;
            height:100%;
            
        }
    
    .info{
        width: 35%; 
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;
        .title{
            font-family: 'Anton', sans-serif;
            font-size: 50px;
            font-weight: 400;
            font-style:normal;
            color:white;
        }
        
        .desc{
            margin:20px 0px;
            color: white;
            font-weight: 500;
            font-size: large;
            
        }
        .buttons{
            display: flex;
            
            button{
                margin-right: 10px;
                padding: 10px 20px;
                border:none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                color: white;
                span{
                margin-left: 5px;
                }
                &.play{
                    background-color:#d00000;
                    
                }
                &.more{
                    background-color:var(--main-color);
                    border:2px solid white ;
                }
            }

            
        }

    }
}