.listItem{
display: flex;
margin-left: 50px;
width: max-content;
.movieItem{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-right: 10px;
            position: relative;
            .movieHover{
                display: none;
                color:black;
                background-color:var(--main-color);
                border-radius: 5px;
            }
            img{
                width: 180px;
                height: 120px;
                border-radius: 8px;
            }
            
            }
        }
.movieItem:hover{
    .movieHover{
        padding: 5px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: stretch;
        position:absolute;
        z-index:99;
        color: white;
        background-color:black;
        .title{
            font-size: 15px;
            color: red;
        }
        #description{
            display: flex;
            flex-wrap: wrap;
            width: 180px;
            
        }
        
    }
}